.git/
.gitignore
.env
.env.*
.DS_Store
.oca/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
celerybeat-schedule
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
media/
staticfiles/
site/
docs/
tests/
.idea/
.vscode/
